.conatiner {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 50px 400px;
}

.header {
  background-color: rgb(131, 131, 243);
  text-align: center;
  grid-column-start: 1;
  grid-column-end: -1;
}

.header h2 {
  color: aliceblue;
}

.sidebar {
  padding: 2px;
}

.sidebar button {
  background-color: rgb(131, 131, 243);
  border: rgb(131, 131, 243);
  padding: 5px;
  border-radius: 5px;
}

.body {
  padding: 5px;
  border: 2px solid black;
  overflow: scroll;
}
